<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hub</title>
    <link rel="stylesheet" href="/css/hub-style.css">
</head>
<body>
    <header class="hub-header">
        <h1 class="hub-header__title">Bem-vindo ao Hub do Site</h1>
    </header>
    <nav class="hub-nav">
        <ul class="hub-nav__list">
            <li class="hub-nav__item"><a href="/horarios" class="hub-nav__link">Horários</a></li>
            
            <li class="hub-nav__item"><a href="/salas" class="hub-nav__link">Salas</a></li>
        </ul>
    </nav>
</body>
</html>
